<%if current_user %>
  <% client = current_user.fitbit_client %>
  <% user_info = client.user_info %>
    <% if user_info.has_key?('user') %>
      <% sign_in_status = true %>
      <% pic_url = user_info["user"]["avatar"] %>
      <% user_name = user_info["user"]["fullName"] %>
    <% else %>
      <% sign_in_status = false %>
    <% end %>    
<%end %>

<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span style="color:#3ec1c1">Fitbit</span> <span style="color:white;">Graphs</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

            <%if sign_in_status %>
          <li class="welcome-nav text-center">
            Hello <%= user_name %>! <%= image_tag pic_url, class: 'profile-pic br' %>
          </li>
          <%end %>
          <li>
            <%= link_to "Home", root_path %>
          </li>

          <li>
            <%= link_to "About", about_path %>
          </li>

          <li>
            <%= link_to "Demo", demo_path %>
          </li>

        
           <% if devise_mapping.omniauthable? && !current_user %>
            <% resource_class.omniauth_providers.each do |provider| %>
            <li>
                <%= link_to "Login", omniauth_authorize_path(resource_name, provider) %>
            </li>
              <% end %>
            <% else %>
            
            <li>
                <%= link_to 'sign_out_path', :method => 'delete' %>
          <% end %>
          </li>
      </ul>
     
      
    </div><!-- /.navbar-collapse -->
</nav>